.body{
    display:grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-columns:1fr;
    background-color:rgba(247, 252, 254, 1);
}
#img0{
    display:inline-block;
   
}

.logo{
    display:grid;
    grid-template-columns:100px 200px;
    grid-template-rows:1fr;
    gap:20px;
    padding-left:40px;
    border-bottom:3px solid black;
    font-family:verdana;

}
#Admin{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:black;
    width:70%;
    border:2px solid rgba(197, 165, 114, 1);
    color:rgba(197, 165, 114, 1);
    margin-bottom:40px;
    margin-top:40px;
    transform:translateY(10px);
    transform:translateX(10px);
    margin-left:7em;
    margin-right:1px;
    border-radius:10px;
    padding:2px;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:60%;
    background-color:rgba(197, 165, 114, 1);
    margin-top:40px;
    border-radius:30px;
    box-shadow: 4px 4px 18px gray;
}
#rev{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:white;
    padding-right:2em;
    padding-left:2em;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:20px;
}
.review{
    border-bottom:3px solid black;
}
#h2{
    font-family:calibri;
    font-weight:bold;
    font-size:30px;
}
#h4{
    font-family:calibri;
    font-weight:bold;
    font-size:25px;
    color:rgba(197, 165, 114, 1);
    transform:translateY(-20px);
}
.tablets{
    display:grid;
    justify-items:center;
    align-items:center;
    justify-content:center;
    align-content:center;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:1fr;
    gap:1em;
    width:100%;
    border-bottom: 3px solid black;
}
.tablet{
    width:94%;
    border:2px solid rgba(197, 165, 114, 1);
    border-radius:20px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:20px;
    font-family:calibri;
    box-shadow: 3px 3px 15px rgb(91, 88, 88);
}
#tablet1{
    margin-left:20px;
   
}
#tablet2{
    padding-top:4px;
    padding-bottom:4px;
   
}
#img1{
    display:flex;
    transform:translate(240px, -40px);
}
#img2{
    display:flex;
    transform:translate(240px, -40px);
}
#h5{
    font-size:20px;
    transform:translateX(10px);
}
#star{
    transform:translateX(15px);
    transform:translateY(-5px);
    margin-top:1px;
}
 #p3{
    font-weight:bold;
    font-size:25px;
    text-shadow:3px 7px 12px rgb(69, 68, 68);
    transform:translateX(10px);
}
#p2{
    font-size:15px;
    margin-left:20px;
     transform:translateX(-10px);
}
#img3{
    display:flex;
    transform:translate(240px, -40px);

}

#img4{
    display:flex;
    transform:translate(240px, -40px);
}
.navibar{
    display:flex;
    justify-content:space-around;
    width:40%;
    border-radius:20px;
    margin-top:25px;
    background-color: rgba(197, 165, 114, 1);
    box-shadow: 6px 3px 15px black;
}
.comp{
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:15px;
    padding-left:3em;
    padding-right:3em;
    padding-top:5px;
    padding-bottom:5px;
      background-color:white;
}
.reviews{
    display:flex;
    justify-content:center;
    align-items:center;
}
.analytics{
    display:flex;
    justify-content:center;
    align-items:center;
  
}
.Complaints{
    display:block;
    margin-top:30px;
    border:2px solid  rgba(197, 165, 114, 1);
    border-radius:20px;
    height:100vh;
    margin-left:20px;
    margin-right:20px;
    box-shadow:1px 1px 50px gray;
}
.comp1{
    margin-top:20px;
    margin-left:25px;
    font-family:calibri;
    font-weight:bold;
    font-size:25px;
}
.track{
    margin-top:5px;
    margin-left:25px;
    font-family:calibri;
    font-weight:bold;
    font-size:20px;
    color: rgba(197, 165, 114, 1);
}
.searches{
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin-top:10px;
    
}
.searchbar{
    margin-left:3em;
    width:60%;
}
#img5{
    transform:translateY(3px);
 }
#search{
    padding:9px;
    border-radius:20px;
    border:1px solid  rgb(218, 190, 146);
    background-color:transparent;
    transform:translateX(-35px);
    padding-left:2.5em;
    width:80%;
}
.filter1{
    width:13%;
    border:1px solid rgb(184, 176, 176);
    border-radius:20px;
    padding-left: 5px;
}
#status{
    width:85%;
    border:none;
    padding:5px;
    background-color:transparent;
   
}
#img6{
    transform:translateY(5px);  
}
.filter2{
    width:13%;
    border:1px solid rgb(175, 173, 173);
    border-radius:20px;
    padding-right:3px;
}
#priority{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    border:none;
    padding:6px;
    background-color:transparent;
    margin-left:3px;
}
table{
    margin-top:30px;
    margin-left:20px;
    width:95%;
    font-family:calibri;
   
}
#tr{
    border-top: 2px solid black;
    border-bottom:2px solid black;
}
   
th{
    text-align:left;
    color:black;
}
td{
    text-align:left;
    color:rgb(49, 48, 48);
}
#id{
    color:rgb(88, 88, 226);
}
.status{
    display:flex;
    justify-content:center;
    border:1px solid;
    border-radius:30px;
    padding:5px;
    margin-top:15px;
    margin-bottom:15px;
}
#flagged{
    background-color:rgb(240, 77, 77);
    color:white;
    border-color:rgb(240, 77, 77);
}
#resolved{
    background-color:rgb(67, 222, 67);
    border-color:rgb(67, 222, 67);
}
#investigating{
    background-color:rgb(226, 225, 225);
}
#high{
    color:rgb(230, 54, 54);
}
#medium{
    color:gold;
}
#low{
    color:rgba(8, 207, 8, 0.751);
}
a{
    color:rgba(0, 0, 0, 0.803);
}